= form_for [:admin, feed] do|f|
  = render 'shared/error_messages', :target => feed
  %p
    = f.label :url
    = f.text_field :url
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :address
    = f.text_field :address
    .address_results
    .errors_for_address
  = f.hidden_field :location_latitude
  = f.hidden_field :location_longitude

  %p
    = link_to "Verify Address", "#", :id => "verify_address"
  %p
    = f.submit feed.new_record? ? "Create" : "Update"

  = javascript_include_tag "news_feeds/verify-address.js"
    
