= content_for :action_items, link_to("New NewsFeed", new_admin_news_feed_path)

%table
  %thead
    %tr
      %th Id
      %th Name
      %th Url
      %th
  %tbody
    - @news_feeds.each do|feed|
      %tr
        %td= feed.id
        %td= feed.name
        %td= feed.url
        %td
          = link_to "View",
admin_news_feed_path(feed)
          = "|"
          = link_to "Delete", "#"
          = "|"
          = link_to "View Entries", admin_news_feed_feed_entries_path(feed)


