%table
  %tbody
    %tr
      %td
        Name
      %td
        = @news_feed.name
    %tr
      %td
        Url
      %td
        = @news_feed.url
    - if @news_feed.entries.present?
      %tr
        %td
          Entries(successful)
        %td
          = @news_feed.entries.failed(false).count
      %tr
        %td
          Entries(failed)
        %td
          = @news_feed.entries.failed(true).count
    %tr
      %td
        Actions
      %td
        = link_to "Process", load_entries_admin_news_feed_path(@news_feed), :method => :post, :remote => true
        |
        = link_to "View Entries", admin_news_feed_feed_entries_path(@news_feed)

= link_to "Edit", edit_admin_news_feed_path(@news_feed), :class=>"button_link"
.ajax_loading
