
= content_for :action_items, link_to("New NewsFeed", new_admin_news_feed_path)
= content_for :sidebar do
  %h3
    NewsFeed - Actions
  #panel_contents
    %h4
      = link_to "Process", load_entries_admin_news_feed_path(@news_feed), :method => :post, :remote => true,:class=>"button_link"
    %p
    %h4
      = link_to "View Entries", admin_news_feed_feed_entries_path(@news_feed),:class=>"button_link"
    %p
    %h4
      = link_to "Edit", edit_admin_news_feed_path(@news_feed), :class=>"button_link"

%table
  %tbody
    %tr
      %td
        Name
      %td
        = @news_feed.name
    %tr
      %td
        Url
      %td
        = @news_feed.url
    - if @news_feed.entries.present?
      %tr
        %td
          Entries(successful)
        %td
          = @news_feed.entries.failed(false).count
      %tr
        %td
          Entries(failed)
        %td
          = @news_feed.entries.failed(true).count

.ajax_loading
