= content_for :sidebar do
  %h3 
    Feed Entries Filters
  #panel_contents
    = render 'filters_form', news_feeds: NewsFeed.all

%p#feed_entries_tabs
  = link_to "all", search_admin_feed_entries_path, :class=>"btn"
  = link_to "normal", search_admin_feed_entries_path(:q => {:failed_equals => false}), :class=>"btn"
  = link_to "failed", search_admin_feed_entries_path(:q => {:failed_equals => true}), :class=>"btn"

.pagination
  = paginate @feed_entries
%table.feed_entries
  %thead
    %tr
      %th Id
      - if params[:news_feed_id].nil?
        %th Feed
      %th Name
      %th Published At
      %th
      %th
  %tbody
    - @feed_entries.each do|entry|
      %tr
        %td= entry.id
        - if params[:news_feed_id].nil?
          %td= entry.feed.name
        %td= entry.name
        %td= entry.published_at
        %td
          %span{:class => "entry #{(entry.failed? ? 'failed' : 'normal')}" }
            = entry.state
          
        %td
          = link_to "View",
admin_news_feed_feed_entry_path(entry.feed,
entry)
          = "|"
          = link_to "Delete", admin_news_feed_feed_entry_path(entry.feed, entry), :method => :delete, :confirm => "Are you sure?"

