!!!
%html
%head
  %title Dimensions
  %meta{:name=>"keywords", :content=>"template language"}
  = stylesheet_link_tag 'bootstrap.css'
  = stylesheet_link_tag 'bootstrap.min.css'
  = stylesheet_link_tag 'jquery-ui-1.8.16.custom.css'
  = stylesheet_link_tag "ui.slider.extras.css"
  = stylesheet_link_tag 'main.css'


  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true'
  = javascript_include_tag 'jquery.1.6.2.min'
  = javascript_include_tag 'jquery-ui-1.8.16.custom.min'
  = javascript_include_tag 'pure'
  = javascript_include_tag 'selectToUISlider.jQuery'
  = javascript_include_tag 'app'
  = javascript_include_tag 'application'
  = javascript_include_tag 'map_controls'
  = javascript_include_tag 'filter'
  = javascript_include_tag 'tag_list'
  = javascript_include_tag 'groups'
  = javascript_include_tag 'bootstrap-dropdown'
  = javascript_include_tag 'jquery.tmpl.min'
  = javascript_include_tag 'date'
  = javascript_include_tag 'jquery-ui.min'
  = javascript_include_tag 'jquery.ui.map.full.min'
  = javascript_include_tag 'map_controls'
  = javascript_include_tag 'searchify/searchify-client'
  = javascript_include_tag 'searchify/stream'
  = javascript_include_tag 'dimensions/jquery.address-1.4.min'
  = javascript_include_tag 'dimensions/router'
  = javascript_include_tag 'dimensions/controllers'
  = javascript_include_tag 'dimensions/renderer'
%body
  #rails_to_js_config{'data-rails-env' => Rails.env}
  = render :partial => 'layouts/facebook_sdk'
  = render :partial => 'layouts/top_nav'
  .container
    = yield

- if Rails.env.production? || Rails.env.staging?
  <!-- begin Omniture -->
  <script language="javascript" src="http://www.king5.com/templates/king5_third-party_omniture.js"></script>
  <!-- end Omniture -->

